.App {
  text-align: center;
}
.survey-grid
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
  @media(min-width: 769px)
  {
    .survey-grid
    {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
    }
  }

  .dd
  {
    width:100px;
    margin: 0 auto;
  }
 .done
 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 2em;
 }
